<h3 *ngIf="data?.title">{{ data.title }}</h3>
<div fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="16px">
  <mat-card fxFlex="30%" *ngFor="let ds of (dataSource$ | async)">
    <mat-card-header>
      <div mat-card-avatar>
        <img
          [src]="ds.displayImage ? ds.displayImage : 'assets/notfound.png'"
        />
      </div>
      <mat-card-title>{{ ds.fullname }}</mat-card-title>
      <mat-card-subtitle>{{ ds.role }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ ds.bio }}</p>
    </mat-card-content>
  </mat-card>
</div>
